<div>
  <div>
    <a href="/presents/{{_id}}"><img height="350" src="{{image}}" alt="{{name}}"/></a>
  </div>  
  <div>
    <h2>{{name}}</h2>
    <p>Recipient: {{recipient}}</p>
    <p>Price: {{price}}</p>
    <p>{{description}}</p>
  </div>
</div>